mat-toolbar {
  font-family: 'Hatch', sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  height: 100%;
  z-index: 99;
  font-size: 1.1em;
}

.nav-wrap a {
  color: #fff;
  text-decoration: none;
}

.nav-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.logo {
  font-size: 2.1em;
  font-weight: 400;
  margin: 15px 0;
  z-index: 99;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 55%;
}

/* COMPONENTS */

#land-page {
  height: 100vh;
}

#about-page {
  padding: 100px 120px;
  background-color: #598759;
  color: #fff;
  text-align: center;
}

#skills-page {
  padding: 100px 120px;
}

#work-page {
  padding: 100px 60px;
  background-color: #598759;
  color: #fff;
  text-align: center;
}

#contact-page {
  padding: 100px 120px;
  background-color: #212121;
  color: #fff;
  text-align: center;
}

/* MOBILE NAVIGATION */

.mobile-nav {
  display: none;
}

@media (max-width: 768px) {
  /* MOBILE NAVIGATION */
  .nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
    width: 100%;
  }
  .logo {
    position: absolute;
    left: 30px;
    top: 0;
    bottom: 0;
  }
  mat-expansion-panel-header {
    padding: 0;
    background-color: #212121!important;
  }
  mat-expansion-panel-header:hover {
    background-color: #212121!important;
  }
  mat-expansion-panel {
    top: 0;
    right: 0;
    background-color: #212121!important;
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  mat-expansion-panel:hover {
    background-color: #212121!important;
  }
  mat-expansion-panel a {
    font-family: 'Hatch', sans-serif;
    font-size: 1.3em;
  }
  mat-expansion-panel p {
    margin: 60px 0;
  }
  mat-panel-title {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    background-color: #212121!important;
  }
  .menu-icon {
    font-size: 3em;
    width: auto;
    height: auto;
    color: #fff;
  }
  /* PAGES PADDING */
  mat-toolbar {
    padding: 0 30px;
  }
  #about-page {
    padding: 60px 30px;
  }
  #skills-page {
    padding: 60px 30px;
  }
  #work-page {
    padding: 60px 30px;
    background-color: #598759;
    color: #fff;
    text-align: center;
  }
  #contact-page {
    padding: 60px 30px;
    background-color: #212121;
    color: #fff;
    text-align: center;
  }
}
