<section id="land-page">
  <div class="nav-wrap">
    <mat-toolbar color="primary">
      <a pageScroll [pageScrollDuration]="350" [pageScrollOffset]="62" href="#land-page" class="logo">EXR</a>
      <div class="nav">
        <a pageScroll [pageScrollDuration]="350" [pageScrollOffset]="62" href="#land-page">Home</a>
        <a pageScroll [pageScrollDuration]="350" [pageScrollOffset]="62" href="#about-page">About</a>
        <a pageScroll [pageScrollDuration]="350" [pageScrollOffset]="62" href="#work-page">Work</a>
        <a pageScroll [pageScrollDuration]="350" [pageScrollOffset]="62" href="#contact-page">Contact</a>
      </div>
    </mat-toolbar>
  </div>
  <app-home></app-home>
</section>

<section id="about-page">
  <app-about></app-about>
</section>

<section id="skills-page">
  <app-skills></app-skills>
</section>

<section id="work-page">
  <app-work></app-work>
</section>

<section id="contact-page">
  <app-contact></app-contact>
</section>
