<section class="land-page">
  <div>
    <mat-toolbar color="primary">
      <span class="logo">EXR</span>
      <div class="nav">
        <a>Home</a>
        <a>About</a>
        <a>Work</a>
        <a>Contact</a>
      </div>
    </mat-toolbar>
  </div>
  <app-home></app-home>
</section>

<section class="about-page">
  <app-about></app-about>
</section>

<section class="skills-page">
  <app-skills></app-skills>
</section>

<section class="work-page">
  <app-work></app-work>
</section>

<section class="contact-page">
  <app-contact></app-contact>
</section>
