<div class="skill-container">
  <div class="design">
    <h3>Design</h3>
    <mat-icon aria-hidden="false" aria-label="icon">brush</mat-icon>
    <div class="skill-margin">
      <h4>Things I enjoy designing:</h4>
      <p>UX, UI, Web, Mobile, Apps, Logo’s, DTP</p>
    </div>
    <div class="skill-margin-btm">
      <h4>Design tools:</h4>
      <p>Adobe XD</p>
      <p>Adobe Photoshop</p>
      <p>Adobe Illustrator</p>
      <p>Adobe Indesign</p>
    </div>
  </div>
  <div class="develop">
    <h3>Front-end Developer</h3>
    <mat-icon aria-hidden="false" aria-label="icon">code</mat-icon>
    <div class="skill-margin">
      <h4>Languages I speak:</h4>
      <p>HTML, CSS, Javascript, React, Angular</p>
    </div>
    <div class="skill-margin-btm">
      <h4>Development tools:</h4>
      <p>Visual Studio Code</p>
      <p>Github</p>
      <p>Terminal</p>
    </div>
  </div>
</div>
