<div class="contact-top">
  <h3 class="contact-text">Contact</h3>
  <div>
    <a href="mailto:emilioxrenders@gmail.com">
      <fa-icon class="contact-icons" [icon]="['fas', 'envelope']"></fa-icon>
    </a>
    <a href="https://github.com/emilioxrenders" target="_blank">
      <fa-icon class="contact-icons" [icon]="['fab', 'github']"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/emilio-renders-1b7831216/" target="_blank">
      <fa-icon class="contact-icons" [icon]="['fab', 'linkedin']"></fa-icon>
    </a>
  </div>
</div>

<div class="copy-text">
  <mat-icon aria-hidden="false" aria-label="icon">copyright</mat-icon>
  <p class="copy-text-margin date-text">2021</p>
  <p class="copy-text-margin">Emilio Renders</p>
</div>
<p class="copy-text-margin">Made in Angular</p>
