<div data-aos="fade-up" data-aos-duration="600">
  <div class="work-text">
    <h3>My recent work</h3>
    <p>Here are a few projects I've worked on recently.</p>
  </div>

  <div class="work-card-container">
    <div class="work-card">
      <img src="../../assets/tuilboten-bw.png">
      <div class="overlay-text">
        <p>A website I co-designed and coded for Yacht Charter Tuil during my internship at NC-Websites.</p>
        <a mat-raised-button color="accent" href="https://www.yachtchartertuil.nl" target="_blank">Visit website</a>
      </div>
    </div>
    <div class="work-card">
      <img src="../../assets/passepartout-bw.png">
      <div class="overlay-text">
        <p>A website I designed and coded for the bowling alley Passe Partout. This was my graduation project.</p>
        <a mat-raised-button color="accent" href="https://office7.nc-websites.nl/passe-partout/" target="_blank">Visit
          website</a>
      </div>
    </div>
    <div class="work-card">
      <img src="../../assets/portfolio-bw.png">
      <div class="overlay-text">
        <p>This portfolio was designed from the ground up and coded with Angular.</p>
      </div>
    </div>
    <div class="work-card">
      <img src="../../assets/landfilter.png">
      <div class="overlay-text">
        <p>A project I made to get more familiar with JSON Data inside of Angular. The website displays country data and
          has a search/filter function.</p>
        <a mat-raised-button color="accent" href="https://emilioxrenders.github.io/land-filter/" target="_blank">Visit
          website</a>
      </div>
    </div>
  </div>
</div>
